.cards{
     width: calc(100% - 38px);
  max-width: 880px;
  margin: auto
}

.card__like-button{
  background: url(../images/Corazon1.svg) no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 19px;

}
.card__like-button:hover{
  background: url(../images/corazonhover.svg);
  
}
.card__like-button-active{
  background:url(../images/CorazondesActive.svg) no-repeat center;
}
.cards__list {
  list-style: none;
  margin: 0;
  width:100%;
  padding: 0;

  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));

  gap: 20px;
}

@media (min-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  width: 100%;
  max-width: 282px;
  margin-inline: auto;

  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  }

  .card__image {
  width: 100%;
  height: 282px;
  display: block;
  object-fit: cover;
}

.card__info {
  min-height: 79px;
  padding: 0 15px 0 21px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {

font-family: Inter;

  margin: 0;
  
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


