.cards {
  width: 100%;
  max-width: 880px;
  margin-inline: auto;
  padding-inline: 19px; 
  box-sizing: border-box;
}

/* Cards List */

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px;

  margin: 0;
  padding: 0;
  list-style: none;
}

/* Card */

.card {
  max-width: 282px;
  margin-inline: auto;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* Image */

.card__image {
  display: block;
  width: 100%;
  height: 282px;
  object-fit: cover;
}

/* Info */

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
  padding: 0 15px 0 21px;
  box-sizing: border-box;
}

/* Title */

.card__title {
  margin: 0;

  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Like Button */

.card__like-button {
  width: 21px;
  height: 19px;
  border: none;

  background: url(../images/Corazon1.svg) no-repeat center / contain transparent;
  cursor: pointer;
}

.card__like-button:hover {
  background-image: url(../images/corazonhover.svg); 
}

.card__like-button_active {
  background-image: url(../images/CorazondesActive.svg);
}

/* Breakpoint */

@media (min-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
