/* ========================================
   Popup
   ======================================== */

.popup {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
}

/* Container */

.popup__container {
  position: relative;
  box-sizing: border-box;
  width: 282px;
  padding: 25px 22px;

  background-color: #fff;
  border-radius: 10px;
}

/* Title */

.popup__title {
  margin: 0 0 76px;
  font-size: 18px;
  font-weight: 900;
}

/* Inputs */

.popup__input {
  width: 100%;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  outline: none;

  color: #000000;
  font-size: 14px;
}

.popup__input::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

.popup__input_type_name {
  margin-bottom: 30px;
}

.popup__input_type_about {
  margin-bottom: 46px;
}

/* Buttons */

.popup__button {
  width: 100%;
  margin-bottom: 0;
  padding: 14px 92px;
  border: 1px solid #000000;
  border-radius: 2px;
  
  background-color: #000000;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.popup__button:disabled {
  border-color: #c4c4c4;
  background-color: #fff;
  color: #c4c4c4;
  cursor: default;
}

/* Close Button */

.popup__close-button {
  position: absolute;
  top: -50px;
  right: 0px;
  width: 26px;
  height: 26px;
  border: none;

  background: url("../images/Close Icon (2).png") no-repeat center / contain transparent;
  cursor: pointer;
}

.popup__close-button:hover {
  background-image: url(../images/Hoverclose.png);
}

/* ========================================
   Desktop
   ======================================== */

@media (min-width: 1024px) {

  .popup__container {
    width: 430px;
    padding: 34px 36px 36.51px;
  }

  .popup__title {
    margin: 0 0 54px;
    font-size: 24px;
  }
  .popup__input {
    padding-bottom: 13px;
  }

  .popup__input_type_about {
    margin-bottom: 48px;
  }

  .popup__button {
    font-size: 18px;
  }

  .popup__close-button {
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
  }
}